# -------------------------
# Terraform
# -------------------------
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plans
*.tfplan

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# -------------------------
# Environment variables / secrets
# -------------------------
.env
.env.*
*.env

# Azure credentials / local config
.azure/

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log